<div class="edit-comment-container">
  <% if @comment.user == current_user %>
    <%= form_for @comment do |f| %>
      <h3 style="color:#3abeff;" ><%= f.label :content %></h3><br>
      <%= f.text_area :content, size: "40x8" %><br>
      <%= button_to 'Update', @discussion, method: :patch, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
