<h3><%= @user.email %><h3>
<h3>In Queue </h3>
	<% @inQueue.each do |queList| %>
		<li><%= queList.podcast.title %></li>
	<% end %>
<h3>Favories</h3>
	<% @favorites.each do |favorite| %>
		<li><%= favorite.podcast.title %></li>
	<% end %>