.body-container {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  margin-top: 70px;
  margin: auto;
  width: 80%;
  text-align: center;
}

body {
  background: #e6e6e6;
}

.user-registration {
  margin-top: 90px;
 }

.login-form {
  margin-top: 90px;
}

.categories-container {
  margin-top: 70px;
}
