body {
  background-image: url('microphone-background.jpg');
  background-size: cover;
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  margin: auto;
  width: 80%;
  text-align: center;
}

@media (max-width: 760px) {
  #search {
    float: left;
  }
  .btn {
    float: right;
  }
  .user {
    display: none;
  }
}


.categories-container {
  margin-top: 70px;
}
