.comment-input {
  border: 1px solid black;
  width: 60%;
  position: relative;
  margin-top: 100px;
}


.discussion-container {
  width: 70%;
  margin: auto;
  margin-top: 70px;
}

.user-comment {
  text-align: left;
  position: relative;
  left: 20px;
}


.user-handle {
  position: relative;
}


#comment-section {
  margin-bottom: 10px;
}

.edit-discussion-form {
  margin-top: 100px;
  position: relative;
  right: 150px;
}