.navbar-inverse .navbar-nav > li {
  width: auto;
}

.navbar-inverse .navbar-nav > li:hover {
  background-color: #009fb7;
  color: #eff1f3;
  transition: .10s;
}

.navbar-inverse .navbar-nav > li > a:hover{
  color: #eff1f3;
  text-shadow: 1px 1px 50px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #696773;
  background-color: #272727;
  padding: 15px;
  font-family: 'Roboto Slab';
}

.notifications {
  margin-top: 70px;
  display: inline-block;
  float: left;
  margin-left: 50px;
  z-index: 2;
  width: 15%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-family: 'Roboto Slab';
}

.user-email {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.user-name {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
}



.user-name:hover {
  font-style: normal;
}

.user {
  border: solid #090909 1px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  padding: 10px;
}

.notification-content {
  border: solid #090909 1px;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
}
.notifications-content-margin {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.errors {
  width: 25%;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  z-index: 2;
}
