.container {
  margin-top: 70px;
}

.podcast-image {
/*  border: 1px solid black;*/
  text-align: center;
  width: 150px;
  position: relative;
  top: 70px;
  left: 60px;
}

.share {
/*  border: 1px solid black;*/
  text-align: center;
  width: 27.5%;
  position: relative;
  bottom: 4.5%;
}

.panel {
  width: 90%;
  margin: auto;
}

.active-discussions {
/*  border: 1px solid red;*/
  text-align: left;
  width: 250px;
  position: relative;
  top: 175px;
  left: 25px;
}

.active-discussions a {
  font-size: 1.2em;
  /*text-align: left;*/
}

.discussion-form {
 /* border: 5px solid black;*/
  width: 60%;
  position: relative;
  left: 35%;
  top: -110px;
}

.genre-flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 250px;
}

.panel.top-podcasts.row.search-results {
  max-height: 50%;
}

span.label.label-primary {
  margin-bottom: 10px;
}



.comment-content {
  width: 50%;
  display: inline-block;
  font-size: 1.3em;
  padding-top: 10%;
  padding-right: 10%;

}

.user-handle {
  width: 30%;
  margin-top: 20px;
}

.comment-buttons {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#comment-section {
  position: relative;
}




