.container {
  margin-top: 70px;
}


.podcast-image {
/*  border: 1px solid black;*/
  text-align: center;
  width: 150px;
  position: relative;
  top: 70px;
  left: 60px;
}


.share {
/*  border: 1px solid black;*/
  text-align: center;
  width: 275px;
  position: absolute;
  top: 450px;
}

.panel{
  width: 90%;
  margin: auto;
}

.share {
  top: -500px;
  }


.share {
  top: -500px;
}


.active-discussions {
/*  border: 1px solid red;*/
  text-align: left;
  width: 250px;
  position: relative;
  top: 175px;
  left: 25px;
}

.active-discussions a {
  font-size: 1.2em;
  /*text-align: left;*/
}

.discussion-form {
 /* border: 5px solid black;*/
  width: 60%;
  position: relative;
  left: 35%;
  top: -200px;
}
