.search-page h1.title {
  font-family: 'Lobster';
  margin: auto;
  width: 160px;
  font-size: 50px;
  margin-bottom: 50px;
  -webkit-align-content: center;
  align-content: center;
  text-shadow: 1px 1px 2px #432;
}

.search-form {
  margin: auto;}

#search {
  width: 50%;
}

.form-inline {
  text-align: center;
}

.search-page{
  margin-top: 180px;
  width: 100%;
}

.wrapper {
  margin-top: 70px;
  border: 3px solid black;
  display: flex;
  background-color: #87CEFA;
}

.podcast-content {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  padding-top: 20px;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  background-color: #87CEFA;
}

.images-buttons {
  font-family: 'Roboto Slab', serif;
  margin-top: 40px;
  padding-right: 50px;
  flex-direction: row;
  margin-bottom: 15px;
}

.podcast-content li {
  list-style: none;
}


.podcast-pic {
  margin-bottom: 10px;
}


.favorite-queue-discussion {
  position: relative;
  bottom: 150px;
  text-align: left;
  left: 18%;
}

.submit-button {
  margin-bottom: 5px;
}

#pod-img {
  left: 5px;
  top: 40px;
  margin-bottom: 10px;
}

#tags {
  display: inline;
}

div.panel.top-podcasts.row {
  max-height: 200px;
}
