.search-page h1.title {
  font-family: 'Lobster';
  margin: auto;
  width: 160px;
  font-size: 50px;
  margin-bottom: 50px;
  -webkit-align-content: center;
  align-content: center;
  text-shadow: 1px 1px 2px #432;
}

.search-form {
  margin: auto;}

#search {
  width: 50%;
}

.form-inline {
  text-align: center;
}

.search-page{
  margin-top: 180px;
  width: 100%;
}

#masonry-container {
  margin-top: 70px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.box-col1 {
  display: inline-block;
  max-width: 80px;
}



