.top-genres-container {
  margin-top: 70px;
}
 .top-podcast-info {
  display: inline-block;
  text-align: left;
 }
 .top-podcast-image {
  display: inline-block;
 }

.top-podcasts {
  display: block;
}
