.top-genres-container {
  width: 70%;
  margin: auto;
  margin-top: 70px;
}
 .top-podcast-info {
  text-align: left;
  margin-top: 20px;
}

.top-podcast-image {
  text-align: left;
  display: inline-block;
}

.top-podcasts {
  display: inline-block;
  padding: 20px;
  width: 60%;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px;
  font-family: 'Roboto Slab';
}

.info-header {
  font-size: 20px;
}

.top-genre-header {
  margin-bottom: 30px;
  font-family: 'Lobster';
  font-size: 50px;
  text-shadow: 1px 1px 10px;
}
