#queueTab .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#queueTab .nav-pills > li > a {
	border-radius: 0;
}

.tab-content {
  display: inline-block;
  padding: 20px;
  width: 60%;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px;
  font-family: 'Roboto Slab';
}

h1.title {
  color: #3abeff;
}

.user-pals {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 10%;
  margin: 10px;
  display: inline-block;
  position: relative;
  min-height: 76px;
  vertical-align: top;
}

