#queueTab .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#queueTab .nav-pills > li > a {
	border-radius: 0;
}

#recommendationContent {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  padding-top: 20px;
  justify-content: space-around;
}