<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Hi, <%= @user.username %></h1>
    <p>
      Your friend shared a new podcast with you. Check it out!<br>
    </p>
    <p>
      To see the podcast, just follow this link: <%= @url %>.
    </p>
</body>
</html>