<div class="search-page">
  <h1 class="title">PodPals</h1>

  <%= form_tag '/podcasts', :method => "get", class: "form-inline" do %>
  <%= text_field_tag :search, params[:term], class: "form-control", placeholder: "Search for Podcasts" %>
  <%= submit_tag "Search", class: "btn btn-default", type:"button"%>
  <% end %>
</div>
